<span class="nav-toggle_text " v-if="filterSidebarState">{{ 'collection.hide_filter' | t }}</span>
<span class="nav-toggle_text " v-else>{{ 'collection.show_filter' | t }}</span>
{%- render 'icon-filter' -%}