{% comment %}
    Renders the Featured collection card placeholder

    Accepts:
    - card_count: {Number}

    Usage:
    {% render 'featured-collection-card-placeholder', card_count: i %}
{% endcomment %}

{% assign counter = card_count | downcase %}
{% assign placeholder_image = 'product-' | append: counter %}

<div class="swiper-slide">
  <a href="#">
    <figure class="placeholder-gray">
      {{ placeholder_image | placeholder_svg_tag: 'featured-img' }}
    </figure>
  </a>
</div>
