<div class="chart-toggle">
  <label class="chart-toggle-wrapper">
     <input type="checkbox" value="{{ chbox }}" :checked="this.units.storage.state" v-on:change="toggleSizeUnit">
      <div class="toggler-slider">
        <div class="toggler-knob"></div>
      </div>
    </label>
</div>


