<div class='pillow-chart'>
  <div class='pillow-chart-sizes'>
    <table class='pillow-sizes'>
      <tbody>
        <tr>
          <td><span class='pillow-sizes__title'>Throw Pillow</span></td>
          <td><span class='pillow-sizes__title'>Size Label</span></td>
          <td><span class='pillow-sizes__title'>A</span></td>
          <td><span class='pillow-sizes__title'>B</span></td>
          <td><span class='pillow-sizes__title'>C</span></td>
          <td><span class='pillow-sizes__title'>D</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='pillow-sizes__text'>18x18"</span></td>
          <td><span class='pillow-sizes__text'>45</span></td>
          <td><span class='pillow-sizes__text'>45</span></td>
          <td><span class='pillow-sizes__text'>12.5</span></td>
          <td><span class='pillow-sizes__text'>39</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='pillow-sizes__text'>20x12"</span></td>
          <td><span class='pillow-sizes__text'>50</span></td>
          <td><span class='pillow-sizes__text'>30</span></td>
          <td><span class='pillow-sizes__text'>12.5</span></td>
          <td><span class='pillow-sizes__text'>43</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='pillow-sizes__text'>22x22"</span></td>
          <td><span class='pillow-sizes__text'>56</span></td>
          <td><span class='pillow-sizes__text'>56</span></td>
          <td><span class='pillow-sizes__text'>15.5</span></td>
          <td><span class='pillow-sizes__text'>48</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='pillow-chart-images'>
    <div class='pillow-chart-image-size__back'>
      <img
        src='{{ 'size-chart-pillow-size-back.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
    <div class='pillow-chart-image-size__front'>
      <img
        src='{{ 'size-chart-pillow-size-front.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
  </div>
</div>
