<div class='phone-chart'>
  <div class='phone-chart-sizes'>
    <table class='phone-sizes'>
      <tbody>
        <tr>
          <td><span class='phone-sizes__title'>iPhone Model</span></td>
          <td><span class='phone-sizes__title'>Diagonal Screen</span></td>
          <td><span class='phone-sizes__title'>Dimensions</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S22</span></td>
          <td><span class='phone-sizes__text'>6.10 inches</span></td>
          <td><span class='phone-sizes__text'>5.75" x 2.78" x 0.3"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S22 Plus</span></td>
          <td><span class='phone-sizes__text'>6.56 inches</span></td>
          <td><span class='phone-sizes__text'>6.20" x 2.98" x 0.3"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S22 Ultra</span></td>
          <td><span class='phone-sizes__text'>6.84 inches</span></td>
          <td><span class='phone-sizes__text'>6.43" x 3.07" x 0.35"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S21</span></td>
          <td><span class='phone-sizes__text'>6.13 inches</span></td>
          <td><span class='phone-sizes__text'>5.97" x 2.80" x 0.31"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S21 Plus</span></td>
          <td><span class='phone-sizes__text'>6.67</span></td>
          <td><span class='phone-sizes__text'>6.35" x 2.98" x 0.31"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S21 Ultra</span></td>
          <td><span class='phone-sizes__text'>6.79</span></td>
          <td><span class='phone-sizes__text'>6.50" x 2.98 " x 0.35"</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='phone-chart-images'>
    <div class='phone-chart-image-size'>
      <img
        src='{{ 'size-chart-galaxy-size.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
  </div>
</div>
