<div class='phone-chart'>
  <div class='phone-chart-sizes'>
    <table class='phone-sizes'>
      <tbody>
        <tr>
          <td><span class='phone-sizes__title'>iPhone Model</span></td>
          <td><span class='phone-sizes__title'>Diagonal Screen</span></td>
          <td><span class='phone-sizes__title'>Dimensions</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S22</span></td>
          <td><span class='phone-sizes__text'>154.9 mm</span></td>
          <td><span class='phone-sizes__text'>146mm x 70.6mm x 7.6mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S22 Plus</span></td>
          <td><span class='phone-sizes__text'>166.5 mm</span></td>
          <td><span class='phone-sizes__text'>157.4mm x 75.8mm x 7.6mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S22 Ultra</span></td>
          <td><span class='phone-sizes__text'>173.7 mm</span></td>
          <td><span class='phone-sizes__text'>163.3mm x 77.9mm x 8.9mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S21</span></td>
          <td><span class='phone-sizes__text'>160.4 mm</span></td>
          <td><span class='phone-sizes__text'>151.7mm x 71.2mm x 7.9mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S21 Plus</span></td>
          <td><span class='phone-sizes__text'>169.6 mm</span></td>
          <td><span class='phone-sizes__text'>161.5mm x 75.6mm x 7.8mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>Samsung Galaxy S21 Ultra</span></td>
          <td><span class='phone-sizes__text'>172.7 mm</span></td>
          <td><span class='phone-sizes__text'>165.1mm x 75.6mm x 8.9mm</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='phone-chart-images'>
    <div class='phone-chart-image-size'>
      <img
        src='{{ 'size-chart-galaxy-size.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
  </div>
</div>
