<div class='mug-chart'>
  <div class='mug-chart-sizes'>
    <div class='mug-size-11'>
      <table class='mug-sizes'>
        <tbody>
          <tr>
            <td><span class='mug-sizes__title'>Product</span></td>
            <td><span class='mug-sizes__title  mug-sizes__text'>Coffee Mug 11oz</span></td>
          </tr>
          <tr>
            <td><span class='mug-sizes__title'>Dimensions</span></td>
            <td>(h) 3.79"</td>
          </tr>
          <tr>
            <td></td>
            <td><span class='mug-sizes__text'>(Ø) 3.25"</span></td>
          </tr>
          <tr>
            <td><span class='mug-sizes__title'>Capacity</span></td>
            <td><span class='mug-sizes__text'>300ml</span></td>
          </tr>
          <tr>
            <td><span class='mug-sizes__title'>Material</span></td>
            <td><span class='mug-sizes__text'>Ceramic</span></td>
          </tr>
          <tr>
            <td><span class='mug-sizes__title'>Care</span></td>
            <td>Dishwasher and microwave safe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='mug-size-15'>
      <table class='mug-sizes'>
        <tbody>
          <tr>
            <td><span class='mug-sizes__title'>Product</span></td>
            <td><span class='mug-sizes__title mug-sizes__text'>Coffee Mug 15oz</span></td>
          </tr>
          <tr>
            <td><span class='mug-sizes__title'>Dimensions</span></td>
            <td>(h) 4.69"</td>
          </tr>
          <tr>
            <td></td>
            <td><span class='mug-sizes__text'>(Ø) 3.35"</span></td>
          </tr>
          <tr>
            <td><span class='mug-sizes__title'>Capacity</span></td>
            <td><span class='mug-sizes__text'>420ml</span></td>
          </tr>
          <tr>
            <td><span class='mug-sizes__title'>Material</span></td>
            <td><span class='mug-sizes__text'>Ceramic</span></td>
          </tr>
          <tr>
            <td><span class='mug-sizes__title'>Care</span></td>
            <td>Dishwasher and microwave safe</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='mug-chart-images'>
    <div class='mug-chart-image-size__back'>
      <img
        src='{{ 'size-chart-mug-size-back.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
    <div class='mug-chart-image-size__front'>
      <img
        src='{{ 'size-chart-mug-size-front-in.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
  </div>
</div>
