<div class='unisex-chart'>
  <div class='unisex-chart-sizes'>
    <table class='unisex-sizes'>
      <tbody>
        <tr>
          <td><span class='unisex-sizes__title'>BELLA+CANVAS 3001</span></td>
          <td><span class='unisex-sizes__title'>Size</span></td>
          <td><span class='unisex-sizes__title'>Length</span></td>
          <td><span class='unisex-sizes__title'>Chest</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='unisex-sizes__text'>XS</span></td>
          <td><span class='unisex-sizes__text'>68.6</span></td>
          <td><span class='unisex-sizes__text'>78.7 - 86.4</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='unisex-sizes__text'>S</span></td>
          <td><span class='unisex-sizes__text'>71</span></td>
          <td><span class='unisex-sizes__text'>86.4 - 94</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='unisex-sizes__text'>M</span></td>
          <td><span class='unisex-sizes__text'>73.7</span></td>
          <td><span class='unisex-sizes__text'>96.5 - 104</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='unisex-sizes__text'>L</span></td>
          <td><span class='unisex-sizes__text'>76.2</span></td>
          <td><span class='unisex-sizes__text'>106.7 - 114.3</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='unisex-sizes__text'>XL</span></td>
          <td><span class='unisex-sizes__text'>78.7</span></td>
          <td><span class='unisex-sizes__text'>116.8 - 124.5</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='unisex-sizes__text'>2XL</span></td>
          <td><span class='unisex-sizes__text'>81.3</span></td>
          <td><span class='unisex-sizes__text'>127 - 134.6</span></td>
        </tr>
      </tbody>
    </table>
    <div class='unisex-desc'>
      <div class='unisex-desc-a'>
        <p class='bolder'>A Length</p>
        <p>
          Place the end of the tape beside the collar at the top of the tee (Highest Point Shoulder). Pull the tape
          measure to the bottom of the shirt.
        </p>
      </div>
      <div class='unisex-desc-b'>
        <p class='bolder'>B Chest</p>
        <p>Measure yourself around the fullest part of your chest. Keep the tape measure horizontal.</p>
      </div>
    </div>
    <div class='unisex-variation'>Product measurements may vary by up to 5cm.</div>
  </div>
  <div class='unisex-chart-images'>
    <div class='unisex-chart-image-size'>
      <img
        src='{{ 'size-chart-unisex-shirt-size.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
  </div>
</div>
