<div class='phone-chart'>
  <div class='phone-chart-sizes'>
    <table class='phone-sizes'>
      <tbody>
        <tr>
          <td><span class='phone-sizes__title'>iPhone Model</span></td>
          <td><span class='phone-sizes__title'>Diagonal Screen</span></td>
          <td><span class='phone-sizes__title'>Dimensions</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 14</span></td>
          <td><span class='phone-sizes__text'>154.9 mm</span></td>
          <td><span class='phone-sizes__text'>146.7mm x 71.5mm x 7.8mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 14 Plus</span></td>
          <td><span class='phone-sizes__text'>169.7 mm</span></td>
          <td><span class='phone-sizes__text'>160.8mm x 78.1mm x 7.8mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 14 Pro</span></td>
          <td><span class='phone-sizes__text'>169.7 mm</span></td>
          <td><span class='phone-sizes__text'>147.5mm x 71.5mm x 7.85mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 14 Pro Max</span></td>
          <td><span class='phone-sizes__text'>169.9 mm</span></td>
          <td><span class='phone-sizes__text'>160.7mm x 77.6mm x 7.85mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 13 Mini</span></td>
          <td><span class='phone-sizes__text'>137.7 mm</span></td>
          <td><span class='phone-sizes__text'>131.5mm x 64.2mm x 7.65mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 13</span></td>
          <td><span class='phone-sizes__text'>154.9 mm</span></td>
          <td><span class='phone-sizes__text'>146.7mm x 71.5mm x 7.65mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 13 Pro</span></td>
          <td><span class='phone-sizes__text'>154.9 mm</span></td>
          <td><span class='phone-sizes__text'>146.7mm x 71.5mm x 7.65mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 13 Pro Max</span></td>
          <td><span class='phone-sizes__text'>169.7 mm</span></td>
          <td><span class='phone-sizes__text'>160.8mm x 78.1mm x 7.65mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 12 Mini</span></td>
          <td><span class='phone-sizes__text'>137.2 mm</span></td>
          <td><span class='phone-sizes__text'>131.5mm x 64.2mm x 7.4mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 12</span></td>
          <td><span class='phone-sizes__text'>154 mm</span></td>
          <td><span class='phone-sizes__text'>146.7mm x 71.5mm x 7.4mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 12 Pro</span></td>
          <td><span class='phone-sizes__text'>154 mm</span></td>
          <td><span class='phone-sizes__text'>146.7mm x 71.5mm x 7.4mm</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 12 Pro Max</span></td>
          <td><span class='phone-sizes__text'>170.2 mm</span></td>
          <td><span class='phone-sizes__text'>160.8mm x 78.1mm x 7.4mm</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='phone-chart-images'>
    <div class='phone-chart-image-size'>
      <img
        src='{{ 'size-chart-iphone-size.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
  </div>
</div>
