<div class='phone-chart'>
  <div class='phone-chart-sizes'>
    <table class='phone-sizes'>
      <tbody>
        <tr>
          <td><span class='phone-sizes__title'>iPhone Model</span></td>
          <td><span class='phone-sizes__title'>Diagonal Screen</span></td>
          <td><span class='phone-sizes__title'>Dimensions</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 14</span></td>
          <td><span class='phone-sizes__text'>6.1 inches</span></td>
          <td><span class='phone-sizes__text'>5.78" x 2.82" x 0.31"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 14 Plus</span></td>
          <td><span class='phone-sizes__text'>6.68 inches</span></td>
          <td><span class='phone-sizes__text'>6.33" x 3.07" x 0.31"</span></td>
        </tr>
          <td><span class='phone-sizes__text'>iPhone 14 Pro</span></td>
          <td><span class='phone-sizes__text'>6.12 inches</span></td>
          <td><span class='phone-sizes__text'>5.81" x 2.81" x 0.31"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 14 Pro Max</span></td>
          <td><span class='phone-sizes__text'>6.69 inches</span></td>
          <td><span class='phone-sizes__text'>6.33" x 3.05" x 0.31"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 13 Mini</span></td>
          <td><span class='phone-sizes__text'>5.4 inches</span></td>
          <td><span class='phone-sizes__text'>5.18" x 2.53" x 0.3"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 13</span></td>
          <td><span class='phone-sizes__text'>6.1 inches</span></td>
          <td><span class='phone-sizes__text'>5.78" x 2.82" x 0.3"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 13 Pro</span></td>
          <td><span class='phone-sizes__text'>6.1 inches</span></td>
          <td><span class='phone-sizes__text'>5.78" x 2.82" x 0.3"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 13 Pro Max</span></td>
          <td><span class='phone-sizes__text'>6.7 inches</span></td>
          <td><span class='phone-sizes__text'>6.33" x 3.07" x 0.3"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 12 Mini</span></td>
          <td><span class='phone-sizes__text'>5.4 inches</span></td>
          <td><span class='phone-sizes__text'>5.18" x 2.53" x 0.29"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 12</span></td>
          <td><span class='phone-sizes__text'>6.1 inches</span></td>
          <td><span class='phone-sizes__text'>5.78" x 2.82" x 0.29"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 12 Pr</span></td>
          <td><span class='phone-sizes__text'>6.1 inches</span></td>
          <td><span class='phone-sizes__text'>5.78" x 2.82" x 0.29"</span></td>
        </tr>
        <tr>
          <td><span class='phone-sizes__text'>iPhone 12 Pro Max</span></td>
          <td><span class='phone-sizes__text'>6.7 inches</span></td>
          <td><span class='phone-sizes__text'>6.33" x 3.07" x 0.29"</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='phone-chart-images'>
    <div class='phone-chart-image-size'>
      <img
        src='{{ 'size-chart-iphone-size.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
  </div>
</div>
