<div class='pillow-chart'>
  <div class='pillow-chart-sizes'>
    <table class='pillow-sizes'>
      <tbody>
        <tr>
          <td><span class='pillow-sizes__title'>Throw Pillow</span></td>
          <td><span class='pillow-sizes__title'>Size Label</span></td>
          <td><span class='pillow-sizes__title'>A</span></td>
          <td><span class='pillow-sizes__title'>B</span></td>
          <td><span class='pillow-sizes__title'>C</span></td>
          <td><span class='pillow-sizes__title'>D</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='pillow-sizes__text'>18x18"</span></td>
          <td><span class='pillow-sizes__text'>17 ¾</span></td>
          <td><span class='pillow-sizes__text'>17 ¾</span></td>
          <td><span class='pillow-sizes__text'>4 ⅞</span></td>
          <td><span class='pillow-sizes__text'>15 ⅜</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='pillow-sizes__text'>20x12"</span></td>
          <td><span class='pillow-sizes__text'>19 ¾</span></td>
          <td><span class='pillow-sizes__text'>11 ¾</span></td>
          <td><span class='pillow-sizes__text'>4 ⅞</span></td>
          <td><span class='pillow-sizes__text'>16 ⅞</span></td>
        </tr>
        <tr>
          <td></td>
          <td><span class='pillow-sizes__text'>22x22"</span></td>
          <td><span class='pillow-sizes__text'>22</span></td>
          <td><span class='pillow-sizes__text'>22</span></td>
          <td><span class='pillow-sizes__text'>6 ⅛</span></td>
          <td><span class='pillow-sizes__text'>18 ⅞</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='pillow-chart-images'>
    <div class='pillow-chart-image-size__back'>
      <img
        src='{{ 'size-chart-pillow-size-back.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
    <div class='pillow-chart-image-size__front'>
      <img
        src='{{ 'size-chart-pillow-size-front.png' | asset_url }}'
        class='featured-img'
        width='600'
        height='600'
        loading='lazy'
      >
    </div>
  </div>
</div>
