<h2 class='headline-2'>Cookies</h2>
<p>
  A cookie is a small amount of information that's downloaded to your computer or device when you visit our Site. We use
  a number of different cookies, including functional, performance, advertising, and social media or content cookies.
  Cookies make your browsing experience better by allowing the website to remember your actions and preferences (such as
  login and region selection). This means you don't have to re-enter this information each time you return to the site
  or browse from one page to another. Cookies also provide information on how people use the website, for instance,
  whether it's their first time visiting or if they are frequent visitors.
</p>
<p>We use the following cookies to optimize your experience on our Site and to provide our services.</p>
<h3 class='headline-3 inline-space'>Cookies Necessary for the Functioning of the Store</h3>
<table>
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Function</strong></th>
      <th><strong>Duration</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>_ab</td>
      <td>Used in connection with access to admin.</td>
      <td>2y</td>
    </tr>
    <tr>
      <td>_secure_session_id</td>
      <td>Used in connection with navigation through a storefront.</td>
      <td>24h</td>
    </tr>
    <tr>
      <td>_shopify_country</td>
      <td>Used in connection with checkout.</td>
      <td>session</td>
    </tr>
    <tr>
      <td>_shopify_m</td>
      <td>Used for managing customer privacy settings.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>_shopify_tm</td>
      <td>Used for managing customer privacy settings.</td>
      <td>30min</td>
    </tr>
    <tr>
      <td>_shopify_tw</td>
      <td>Used for managing customer privacy settings.</td>
      <td>2w</td>
    </tr>
    <tr>
      <td>_storefront_u</td>
      <td>Used to facilitate updating customer account information.</td>
      <td>1min</td>
    </tr>
    <tr>
      <td>_tracking_consent</td>
      <td>Tracking preferences.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>_cmp_a</td>
      <td>Used for managing customer privacy settings.</td>
      <td>1d</td>
    </tr>
    <tr>
      <td>c</td>
      <td>Used in connection with checkout.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>cart</td>
      <td>Used in connection with shopping cart.</td>
      <td>2w</td>
    </tr>
    <tr>
      <td>cart_currency</td>
      <td>Used in connection with shopping cart.</td>
      <td>2w</td>
    </tr>
    <tr>
      <td>cart_sig</td>
      <td>Used in connection with checkout.</td>
      <td>2w</td>
    </tr>
    <tr>
      <td>cart_ts</td>
      <td>Used in connection with checkout.</td>
      <td>2w</td>
    </tr>
    <tr>
      <td>cart_ver</td>
      <td>Used in connection with shopping cart.</td>
      <td>2w</td>
    </tr>
    <tr>
      <td>checkout</td>
      <td>Used in connection with checkout.</td>
      <td>4w</td>
    </tr>
    <tr>
      <td>checkout_token</td>
      <td>Used in connection with checkout.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>dynamic_checkout_shown_on_cart</td>
      <td>Used in connection with checkout.</td>
      <td>30min</td>
    </tr>
    <tr>
      <td>hide_shopify_pay_for_checkout</td>
      <td>Used in connection with checkout.</td>
      <td>session</td>
    </tr>
    <tr>
      <td>keep_alive</td>
      <td>Used in connection with buyer localization.</td>
      <td>2w</td>
    </tr>
    <tr>
      <td>master_device_id</td>
      <td>Used in connection with merchant login.</td>
      <td>2y</td>
    </tr>
    <tr>
      <td>previous_step</td>
      <td>Used in connection with checkout.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>discount_code</td>
      <td>Used in connection with checkout.</td>
      <td>session</td>
    </tr>
    <tr>
      <td>remember_me</td>
      <td>Used in connection with checkout.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>secure_customer_sig</td>
      <td>Used in connection with customer login.</td>
      <td>20y</td>
    </tr>
    <tr>
      <td>shopify_pay</td>
      <td>Used in connection with checkout.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>shopify_pay_redirect</td>
      <td>Used in connection with checkout.</td>
      <td>30 minutes, 3w or 1y depending on value</td>
    </tr>
    <tr>
      <td>source_name</td>
      <td>Used in connection with checkout.</td>
      <td>session</td>
    </tr>
    <tr>
      <td>storefront_digest</td>
      <td>Used in connection with customer login.</td>
      <td>2y</td>
    </tr>
    <tr>
      <td>tracked_start_checkout</td>
      <td>Used in connection with checkout.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>checkout_session_lookup</td>
      <td>Used in connection with checkout.</td>
      <td>3w</td>
    </tr>
    <tr>
      <td>checkout_session_token_&lt;&lt;token&gt;&gt;</td>
      <td>Used in connection with checkout.</td>
      <td>3w</td>
    </tr>
    <tr>
      <td>identity-state</td>
      <td>Used in connection with customer authentication.</td>
      <td>24h</td>
    </tr>
    <tr>
      <td>identity-state-&lt;&lt;token&gt;&gt;</td>
      <td>Used in connection with customer authentication.</td>
      <td>24h</td>
    </tr>
    <tr>
      <td>identity_customer_account_number</td>
      <td>Used in connection with customer authentication.</td>
      <td>12w</td>
    </tr>
    <tr>
      <td>localization</td>
      <td>Cookie required to use website options and services</td>
      <td>4w</td>
    </tr>
  </tbody>
</table>
<h3 class='headline-3 inline-space top-space'>Reporting and Analytics</h3>
<table>
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Function</strong></th>
      <th><strong>Duration</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>_landing_page</td>
      <td>Track landing pages.</td>
      <td>2w</td>
    </tr>
    <tr>
      <td>_orig_referrer</td>
      <td>Track landing pages.</td>
      <td>2w</td>
    </tr>
    <tr>
      <td>_s</td>
      <td>Shopify analytics.</td>
      <td>30min</td>
    </tr>
    <tr>
      <td>_shopify_d</td>
      <td>Shopify analytics.</td>
      <td>session</td>
    </tr>
    <tr>
      <td>_shopify_fs</td>
      <td>Shopify analytics.</td>
      <td>30min</td>
    </tr>
    <tr>
      <td>_shopify_s</td>
      <td>Shopify analytics.</td>
      <td>30min</td>
    </tr>
    <tr>
      <td>_shopify_sa_p</td>
      <td>Shopify analytics relating to marketing &amp; referrals.</td>
      <td>30min</td>
    </tr>
    <tr>
      <td>_shopify_sa_t</td>
      <td>Shopify analytics relating to marketing &amp; referrals.</td>
      <td>30min</td>
    </tr>
    <tr>
      <td>_shopify_y</td>
      <td>Shopify analytics.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>_y</td>
      <td>Shopify analytics.</td>
      <td>1y</td>
    </tr>
    <tr>
      <td>_shopify_evids</td>
      <td>Shopify analytics.</td>
      <td>session</td>
    </tr>
    <tr>
      <td>_shopify_ga</td>
      <td>Shopify and Google Analytics.</td>
      <td>session</td>
    </tr>
    <tr>
      <td>customer_auth_provider</td>
      <td>Shopify analytics.</td>
      <td>session</td>
    </tr>
    <tr>
      <td>customer_auth_session_created_at</td>
      <td>Shopify analytics.</td>
      <td>session</td>
    </tr>
  </tbody>
</table>
<p class='top-space'>
  Additionally, we use pixels and tags from the following third parties, which may in turn place cookies:
</p>
<h3 class='headline-3 inline-space'>Cookies Necessary for the Functioning of the Sites</h3>
<table>
  <thead>
    <tr>
      <th><strong>Third Party</strong></th>
      <th><strong>Description</strong></th>
      <th><strong>Privacy Policy</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cloudflare</td>
      <td>Shopify uses Cloudflare Network as a Service for edge routing.</td>
      <td>
        <a class='link--primary' href='https://www.cloudflare.com/privacypolicy/' target='_blank'
          >https://www.cloudflare.com/privacypolicy</a
        >
      </td>
    </tr>
  </tbody>
</table>
<h3 class='headline-3 inline-space top-space'>Reporting & Analytics</h3>
<table>
  <thead>
    <tr>
      <th><strong>Third Party</strong></th>
      <th><strong>Description</strong></th>
      <th><strong>Privacy Policy</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Google Analytics</td>
      <td>We use Google Analytics to help measure how users interact with our websites.</td>
      <td>
        <a class='link--primary' href='https://policies.google.com/privacy' target='_blank'
          >https://policies.google.com/privacy</a
        >
      </td>
    </tr>
    <tr>
      <td>Google Tag Manager</td>
      <td>We use Google Tag Manager to help manage analytics vendors.</td>
      <td>
        <a class='link--primary' href='https://policies.google.com/privacy' target='_blank'
          >https://policies.google.com/privacy</a
        >
      </td>
    </tr>
    <tr>
      <td>Facebook Pixel</td>
      <td>We use Facebook Pixel to help measure how users interact with our websites.</td>
      <td>
        <a class='link--primary' href='https://www.facebook.com/privacy/explanation' target='_blank'
          >https://www.facebook.com/privacy/explanation</a
        >
      </td>
    </tr>
    <tr>
      <td>Pinterest Analytics</td>
      <td>We use Pinterest Analytics to help measure how users interact with our websites.</td>
      <td>
        <a class='link--primary' href='https://policy.pinterest.com/privacy-policy' target='_blank'
          >https://policy.pinterest.com/privacy-policy</a
        >
      </td>
    </tr>
    <tr>
      <td>TikTok</td>
      <td>We use TikTok to help measure how users interact with our websites.</td>
      <td>
        <a class='link--primary' href='https://www.tiktok.com/legal/privacy-policy?lang=en' target='_blank'
          >https://www.tiktok.com/legal/privacy-policy?lang=en</a
        >
      </td>
    </tr>
    <tr>
      <td>Tealium</td>
      <td>We use Tealium to help manage analytics vendors.</td>
      <td>
        <a class='link--primary' href='https://tealium.com/privacy/' target='_blank'>https://tealium.com/privacy</a>
      </td>
    </tr>
  </tbody>
</table>
<p class='top-space'>
  The length of time that a cookie remains on your computer or mobile device depends on whether it is a "persistent" or
  "session" cookie. Session cookies last until you stop browsing and persistent cookies last until they expire or are
  deleted. Most of the cookies we use are persistent and will expire between 30 minutes and two years from the date they
  are downloaded to your device.
</p>
<p>
  You can control and manage cookies in various ways. Please keep in mind that removing or blocking cookies can
  negatively impact your user experience and parts of our website may no longer be fully accessible.
</p>
<p>
  Most browsers automatically accept cookies, but you can choose whether or not to accept cookies through your browser
  controls, often found in your browser's "Tools" or "Preferences" menu. More information on how to modify your browser
  settings or how to block, manage or filter cookies can be found in your browser's help file or through such sites as:
  <a class='link--primary' href='https://www.allaboutcookies.org' target='_blank'>www.allaboutcookies.org</a>.
</p>
<p>
  Additionally, please note that blocking cookies may not completely prevent how we share information with third parties
  such as our advertising partners. To exercise your rights or opt out of certain uses of your information by these
  parties, please follow the instructions in the "Behavioural Advertising" section above.
</p>
<h3 class='headline-3'>Do Not Track</h3>
<p>
  Please note that because there is no consistent industry understanding of how to respond to "Do Not Track" signals, we
  do not alter our data collection and usage practices when we detect such a signal from your browser.
</p>
