<div class="product-options__title desktop-view" {{ block.shopify_attributes }}>
  <h1 class="headline-1">{%- if section.settings.product_vendor -%}{{ product.vendor }} {%- endif -%}{{ product.title | escape }}</h1>
  <h2 class="headline-2">{{ product.type | escape }}</h2>
</div>