{{ 'section-main-policy.css' | asset_url | stylesheet_tag }}
{{ 'section-header-policy.css' | asset_url | stylesheet_tag }}

<div class='main-policy'>
  <div class='main-policy_wrapper page-width'>
    {% render 'header-policy', title: page.title, active: 'privacy' %}
  </div>
  <div class='main-policy_content page-width'>
    <div class='main-policy_block'>
      <h2 class='headline-2'>Overview</h2>
      <p>
        This Privacy Policy describes how binspired.com (the "Site" or "we") collects, uses, and discloses your Personal
        Information when you visit or make a purchase from the Site.
      </p>
    </div>
    <div class='main-policy_block'>
      <h2 class='headline-2'>Contact</h2>
      <p>
        After reviewing this policy, if you have additional questions, want more information about our privacy
        practices, or would like to make a complaint, please contact us by e-mail at
        <a class='link--primary' href='mailto:help@binspired.com'>help@binspired.com</a>.
      </p>
    </div>
    <div class='main-policy_block'>
      <h2 class='headline-2'>Collecting Personal Information</h2>
      <p>
        When you visit the Site, we collect certain information about your device, your interaction with the Site, and
        the information necessary to process your purchases. We may also collect additional information if you contact
        us for customer support. In this Privacy Policy, we refer to any information about an identifiable individual
        (including the information below) as "Personal Information". See the list below for more information about what
        Personal Information we collect and why.
      </p>
      <ul>
        <li>Device information</li>
        <ul class='inline-space'>
          <li>
            <strong>Purpose of collection:</strong> to load the Site accurately for you, and to perform analytics on
            Site usage to optimize our Site.
          </li>
          <li>
            <strong>Source of collection:</strong> Collected automatically when you access our Site using cookies, log
            files, web beacons, tags, or pixels.
          </li>
          <li><strong>Disclosure for a business purpose:</strong> shared with our processor Shopify.</li>
          <li>
            <strong>Personal Information collected:</strong> version of web browser, IP address, time zone, cookie
            information, what sites or products you view, search terms, and how you interact with the Site.
          </li>
        </ul>
        <li>Order information</li>
        <ul class='inline-space'>
          <li>
            <strong>Purpose of collection:</strong> to provide products or services to you to fulfill our contract, to
            process your payment information, arrange for shipping, and provide you with invoices and/or order
            confirmations, communicate with you, screen our orders for potential risk or fraud, and when in line with
            the preferences you have shared with us, provide you with information or advertising relating to our
            products or services.
          </li>
          <li><strong>Source of collection:</strong> collected from you.</li>
          <li>
            <strong>Disclosure for a business purpose:</strong> shared with our processor Shopify and fulfillment
            partner Printful.
          </li>
          <li>
            <strong>Personal Information collected:</strong> name, billing address, shipping address, payment
            information (including credit card numbers), email address, and phone number.
          </li>
        </ul>
        <li>Customer support information</li>
        <ul class='inline-space'>
          <li><strong>Purpose of collection:</strong></li>
          <li><strong>Source of collection:</strong></li>
          <li><strong>Disclosure for a business purpose:</strong></li>
          <li>
            <strong>Personal Information collected:</strong>
          </li>
          <li><strong>Purpose of collection:</strong> to provide customer support.</li>
          <li><strong>Source of collection:</strong> collected from you</li>
          <li>
            <strong>Disclosure for a business purpose:</strong>
          </li>
          <li>
            <strong>Personal Information collected:</strong>
          </li>
        </ul>
      </ul>
      <h3 class='headline-3'>Minors</h3>
      <p>
        The Site is not intended for individuals under the age of 16. We do not intentionally collect Personal
        Information from children. If you are the parent or guardian and believe your child has provided us with
        Personal Information, please contact us at the address above to request deletion.
      </p>
    </div>
    <div class='main-policy_block'>
      <h2 class='headline-2'>Sharing Personal Information</h2>
      <p>
        We share your Personal Information with service providers to help us provide our services and fulfill our
        contracts with you, as described above. For example:
      </p>
      <ul>
        <li>
          We use Shopify to power our online store. You can read more about how Shopify uses your Personal Information
          here:
          <a class='link--primary' href='https://www.shopify.com/legal/privacy' target='_blank'
            >https://www.shopify.com/legal/privacy</a
          >.
        </li>
        <li>
          We may share your Personal Information to comply with applicable laws and regulations, to respond to a
          subpoena, search warrant, or other lawful requests for information we receive, or to otherwise protect our
          rights.
        </li>
      </ul>
    </div>
    <div class='main-policy_block'>
      <h2 class='headline-2'>Behavioural Advertising</h2>
      <p>
        As described above, we use your Personal Information to provide you with targeted advertisements or marketing
        communications we believe may be of interest to you. For example:
      </p>
      <ul>
        <li>
          We use Google Analytics to help us understand how our customers use the Site. You can read more about how
          Google uses your Personal Information here:
          <a class='link--primary' href='https://www.google.com/intl/en/policies/privacy/' target='_blank'
            >https://www.google.com/intl/en/policies/privacy/</a
          >. You can also opt out of Google Analytics here:
          <a class='link--primary' href='https://tools.google.com/dlpage/gaoptout' target='_blank'
            >https://tools.google.com/dlpage/gaoptout</a
          >.
        </li>
        <li>
          We share information about your use of the Site, your purchases, and your interaction with our ads on other
          websites with our advertising partners. We collect and share some of this information directly with our
          advertising partners, and in some cases through the use of cookies or other similar technologies (which you
          may consent to, depending on your location).
        </li>
        <li>
          We use Shopify Audiences to help us show ads on other websites with our advertising partners to buyers who
          made purchases with other Shopify merchants and who may also be interested in what we have to offer. We also
          share information about your use of the Site, your purchases, and the email address associated with your
          purchases with Shopify Audiences, through which other Shopify merchants may make offers you may be interested
          in.
        </li>
      </ul>
      <p>
        For more information about how targeted advertising works, you can visit the Network Advertising Initiative's
        ("NAI") educational page at
        <a
          class='link--primary'
          href='https://www.networkadvertising.org/understanding-online-advertising/how-does-it-work'
          target='_blank'
          >https://www.networkadvertising.org/understanding-online-advertising/how-does-it-work</a
        >.
      </p>
      <p>You can opt out of targeted advertising by</p>
      <ul>
        <li>
          FACEBOOK -
          <a class='link--primary' href='https://www.facebook.com/settings/?tab=ads' target='_blank'
            >https://www.facebook.com/settings/?tab=ads</a
          >
        </li>
        <li>
          GOOGLE -
          <a class='link--primary' href='https://www.google.com/settings/ads/anonymous' target='_blank'
            >https://www.google.com/settings/ads/anonymous</a
          >
        </li>
        <li>
          PINTEREST -
          <a class='link--primary' href='https://www.google.com/settings/ads/anonymous' target='_blank'
            >https://help.pinterest.com/en/article/personalization-and-data</a
          >
        </li>
        <li>
          BING -
          <a
            class='link--primary'
            href='https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads'
            target='_blank'
            >https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads</a
          >
        </li>
      </ul>
      <p>
        Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance's opt-out
        portal at:
        <a class='link--primary' href='https://optout.aboutads.info/' target='_blank'>https://optout.aboutads.info/</a>.
      </p>
    </div>
    <div class='main-policy_block'>
      <h2 class='headline-2'>Using Personal Information</h2>
      <p>
        We use your Personal Information to provide our services to you, which include: offering products for sale,
        processing payments, shipping and fulfillment of your order, and keeping you up to date on new products,
        services, and offers.
      </p>
      <h3 class='headline-3'>Lawful basis</h3>
      <p>
        Pursuant to the General Data Protection Regulation ("GDPR"), if you are a resident of the European Economic Area
        ("EEA"), we process your personal information under the following lawful bases:
      </p>
      <ul>
        <li>Your consent;</li>
        <li>The performance of the contract between you and the Site;</li>
        <li>Compliance with our legal obligations;</li>
        <li>To protect your vital interests;</li>
        <li>For our legitimate interests, which do not override your fundamental rights and freedoms.</li>
      </ul>
      <h3 class='headline-3'>Retention</h3>
      <p>
        When you place an order through the Site, we will retain your Personal Information for our records unless and
        until you ask us to erase this information. For more information on your right of erasure, please see the "Your
        rights" section below.
      </p>
      <h3 class='headline-3'>Automatic decision-making</h3>
      <p>
        If you are a resident of the EEA, you have the right to object to processing based solely on automated
        decision-making (which includes profiling), when that decision-making has a legal effect on you or otherwise
        significantly affects you.
      </p>
      <p>
        We DO NOT engage in fully automated decision-making that has a legal or otherwise significant effect using
        customer data.
      </p>
      <p>
        Our processor Shopify uses limited automated decision-making to prevent fraud that does not have a legal or
        otherwise significant effect on you.
      </p>
      <p>Services that include elements of automated decision-making include:</p>
      <ul>
        <li>
          Temporary blacklist of IP addresses associated with repeated failed transactions. This blacklist persists for
          a small number of hours.
        </li>
        <li>
          Temporary blacklist of credit cards associated with blacklisted IP addresses. This blacklist persists for a
          small number of days.
        </li>
      </ul>
    </div>
    <div class='main-policy_block'>
      <h2 class='headline-2'>Selling Personal Information</h2>
      <p>Our Site sells Personal Information, as defined by the California Consumer Privacy Act of 2018 ("CCPA").</p>
      <ul>
        <li>
          <strong>Categories of Information Sold:</strong> We sell information such as customers' names, addresses,
          email addresses, phone numbers, payment information, purchase histories, and any other personal information
          that customers provide when engaging with our Site.
        </li>
        <li>
          <strong>Using Shopify Audiences:</strong> We use customer information such as their use of the Site, their
          purchases, and the email addresses associated with their purchases to create audience segments through Shopify
          Audiences, which are then used for advertising and marketing purposes.
        </li>
        <li>
          <strong>Opt-Out of Sale:</strong> Customers can opt-out of the sale of their personal information by
          contacting us directly through the contact information above. We will then delete their information from our
          systems within 30 days.
        </li>
        <li>
          <strong>Minors:</strong> We do not sell the personal information of minors (under 16) and we do not obtain
          affirmative or parental authorization for the sale of their personal information.
        </li>
        <li>
          <strong>Financial Incentive:</strong> We do not offer any financial incentives or rewards for customers to
          sell their personal information.
        </li>
      </ul>
    </div>
    <div class='main-policy_block'>
      <h2 class='headline-2 inline-space'>Your rights</h2>
      <h3 class='headline-3'>GDPR</h3>
      <p>
        If you are a resident of the EEA, you have the right to access the Personal Information we hold about you, to
        port it to a new service, and to ask that your Personal Information be corrected, updated, or erased. If you
        would like to exercise these rights, please contact us through the contact information above.
      </p>
      <p>
        Your Personal Information will be initially processed in Ireland and then will be transferred outside of Europe
        for storage and further processing, including to Canada and the United States. For more information on how data
        transfers comply with the GDPR, see Shopify's GDPR Whitepaper:
        <a class='link--primary' href='https://help.shopify.com/en/manual/your-account/privacy/GDPR' target='_blank'
          >https://help.shopify.com/en/manual/your-account/privacy/GDPR</a
        >.
      </p>
      <h3 class='headline-3'>CCPA</h3>
      <p>
        If you are a resident of California, you have the right to access the Personal Information we hold about you
        (also known as the 'Right to Know'), to port it to a new service, and to ask that your Personal Information be
        corrected, updated, or erased. If you would like to exercise these rights, please contact us through the contact
        information above.
      </p>
      <p>
        If you would like to designate an authorized agent to submit these requests on your behalf, please contact us at
        the address above.
      </p>
    </div>
    <div class='main-policy_block'>
      {% render 'privacy-policy-cookies' %}
    </div>
    <div class='main-policy_block'>
      <h2 class='headline-2'>Changes</h2>
      <p>
        We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices
        or for other operational, legal, or regulatory reasons.
      </p>
    </div>
    <div class='main-policy_block'>
      <h2 class='headline-2'>Complaints</h2>
      <p>
        As noted above, if you would like to make a complaint, please contact us through the contact information above.
      </p>
      <p>
        If you are not satisfied with our response to your complaint, you have the right to lodge your complaint with
        the relevant data protection authority. You can contact your local data protection authority, or our supervisory
        authority here:
        <a class='link--primary' href='https://ec.europa.eu/consumers/odr/' target='_blank'
          >https://ec.europa.eu/consumers/odr/</a
        >
      </p>
      <p>Last updated: Feb 21, 2023</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.privacy.label"
}
{% endschema %}
