<div class="page" data-id="{{ section.id }}">
  <div class="page page-width">
    <!-- header -->
    <div class="page-header">
      <h1 class="headline-3" itemprop="headline">
        {{ page.title | escape }}
      </h1>
    </div>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.main.label",
  "tag": "section",
  "class": "section",
  "settings": [

  ]
}
{% endschema %}
