.image-banner_wrapper {
  padding-bottom: 7rem;
}

@media screen and (min-width: 750px) {
  .image-banner_wrapper {
    padding-bottom: 9rem;
  }
}

.image-banner_content {
  position: relative;
}

.image-banner_caption {
  position: absolute;
  bottom: 36px;
  left: 36px;
  text-align: left;
}

h4.image-banner_caption-headline {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'GreatEscape', Sans-serif;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 42px;
  letter-spacing: -3px;
  font-weight: 900;
}

p.image-banner_caption-message {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
}

@media screen and (min-width: 990px) {
  .image-banner_caption {
    bottom: 45px;
    left: 45px;
  }
  h4.image-banner_caption-headline {
    font-size: calc(var(--font-heading-scale) * 7.2rem);
    line-height: 58px;
    letter-spacing: -4px;
  }
}
