/* Desktop Filter */

.desktop-filter {
  display: none;
}

.desktop-filter_wrapper {
  overflow-y: auto;
  width: 210px;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  margin-right: 50px;
  transition: margin var(--duration-default) ease;
}

.desktop-results {
  width: 100%;
  padding-right: 1.5rem;
}

.desktop-results_group {
  overflow: hidden;
  width: 100%;
  padding: 0px;
  text-align: left;
  line-height: 28px;
  height: 100%;
  max-width: 400px;
  transition: height var(--duration-default) ease;
  border-bottom: 1px solid rgba(var(--color-button), 0.08);
}

.desktop-results_group:first-of-type {
  border-top: 1px solid rgba(var(--color-button), 0.08);
}

.desktop-results_group.open {
  transition: height var(--duration-default) ease;
}

.desktop-results_group.closed {
  transition: height var(--duration-default) ease;
}

.desktop-results_trigger {
  position: relative;
}

.desktop-results_trigger-btn {
  cursor: pointer;
  user-select: none;
  display: block;
  padding: 12px 0px;
  position: relative;
  width: 100%;
  font-weight: 600;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.open .desktop-results_trigger-chevron,
.closed .desktop-results_trigger-chevron {
  display: inline-block !important;
  position: absolute;
  right: 0;
  top: 26px;
  z-index: -1;
  width: 14px;
  margin-left: 8px;
}

.open .desktop-results_trigger-chevron:before,
.closed .desktop-results_trigger-chevron:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 9px;
  height: 2px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  background-color: rgba(var(--color-button));
  transform: translateY(-50%) rotate(46deg);
  transition: transform var(--duration-default) ease;
}

.open .desktop-results_trigger-chevron:after,
.closed .desktop-results_trigger-chevron:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 9px;
  height: 2px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  background-color: rgba(var(--color-button));
  transform: translateY(-50%) rotate(-46deg);
  transition: transform var(--duration-default) ease;
}

.closed .desktop-results_trigger-chevron:before {
  transform: translateY(-50%) rotate(-46deg);
}

.closed .desktop-results_trigger-chevron:after {
  transform: translateY(-50%) rotate(46deg);
}

.desktop-results_items {
  display: block;
  overflow: hidden;
  padding-bottom: 2rem;
}

.desktop-results_item {
  display: block;
  width: 100%;
  margin-bottom: 1px;
}

.desktop-results_item.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.desktop-results_item-btn {
  cursor: pointer;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  color: rgba(var(--color-button), 1);
  font-weight: 400;
  line-height: 1.5;
  transition: color var(--duration-long) ease;
}

.desktop-results_item-btn:hover .desktop-results_item-label:not(.active) {
  color: rgba(var(--color-button), 0.55);
}

.desktop-results_item-btn .pseudo-checkbox {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin: 2px 6px 5px 0;
  border-radius: 4px;
  border: 1px solid rgba(var(--color-button), 0.2);
}

.desktop-results_item-btn .pseudo-checkbox.selected {
  border: 1px solid rgba(var(--color-button), 1);
  background-color: rgba(var(--color-button), 1);
}

.desktop-results_item-btn .icon-checkmark {
  position: absolute;
  display: inline-block !important;
  top: 3px;
  left: 2px;
  z-index: 1;
  width: 0px;
  height: 0px;
}

.desktop-results_item-btn .icon-checkmark:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 1px;
  z-index: 2;
  width: 6px;
  height: 2px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  transform-origin: left center;
  transform: rotate(49deg) scale(0, 1);
  background-color: rgb(var(--color-background));
  transition: transform var(--duration-short) ease;
}

.desktop-results_item-btn .icon-checkmark:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 4px;
  z-index: 2;
  width: 13px;
  height: 2px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  transform-origin: left center;
  transform: rotate(-49deg) scale(0, 1);
  background-color: rgb(var(--color-background));
  transition: transform var(--duration-short) ease;
}

.desktop-results_item-btn .icon-checkmark.active:before {
  transform: rotate(49deg) scale(1, 1);
}

.desktop-results_item-btn .icon-checkmark.active:after {
  transform: rotate(-49deg) scale(1, 1);
}

/* Color */

.desktop-results_items.Color {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.desktop-results_item-swatch {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333%;
  padding-top: 0.75rem;
  padding-bottom: 1.25rem;
}

.desktop-results_item-swatch.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.desktop-results_item-swatch .item-swatch_color,
.desktop-results_item-swatch:link .item-swatch_color,
.desktop-results_item-swatch:hover .item-swatch_color,
.desktop-results_item-swatch:visited .item-swatch_color {
  transform: scale(1);
  transition: transform var(--duration-short) ease;
}

.desktop-results_item-swatch:active .item-swatch_color {
  transform: scale(0.9);
}

.desktop-results_item-swatch .item-swatch_color {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.desktop-results_item-swatch .swatch-checkmark {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 8px;
  z-index: 1;
  width: 0px;
  height: 0px;
}

.desktop-results_item-swatch .swatch-checkmark:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 1px;
  z-index: 2;
  width: 6px;
  height: 2px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  transform-origin: left center;
  transform: rotate(49deg) scale(0, 1);
  background-color: rgb(var(--color-background));
  transition: transform var(--duration-short) ease;
}

.desktop-results_item-swatch .swatch-checkmark:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 4px;
  z-index: 2;
  width: 13px;
  height: 2px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  transform-origin: left center;
  transform: rotate(-49deg) scale(0, 1);
  background-color: rgb(var(--color-background));
  transition: transform var(--duration-short) ease;
}

.desktop-results_item-swatch .swatch-checkmark.active:before {
  transform: rotate(49deg) scale(1, 1);
}

.desktop-results_item-swatch .swatch-checkmark.active:after {
  transform: rotate(-49deg) scale(1, 1);
}

.desktop-results_item-swatch .item-swatch_label {
  margin-top: 0.6rem;
  font-size: calc(var(--font-heading-scale) * 1.2rem);
  color: rgba(var(--color-button), 1);
  line-height: 1;
  font-weight: 400;
  transition: color var(--duration-default) ease;
}

.desktop-results_item-swatch:hover .item-swatch_label:not(.active) {
  color: rgba(var(--color-button), 0.55);
}

.desktop-results_item-swatch .item-swatch_color.White {
  border: 1px solid rgba(var(--color-button), 0.2);
  background-color: white;
}

.desktop-results_item-swatch .item-swatch_color.White .swatch-checkmark:before {
  background-color: rgba(var(--color-button));
}

.desktop-results_item-swatch .item-swatch_color.White .swatch-checkmark:after {
  background-color: rgba(var(--color-button));
}

.desktop-results_item-swatch .item-swatch_color.Black {
  background-color: #171717;
}

.desktop-results_item-swatch .item-swatch_color.Beige {
  background-color: #ccc4ab;
}

.desktop-results_item-swatch .item-swatch_color.Grey {
  background-color: #cccccc;
}

.desktop-results_item-swatch .item-swatch_color.Brown {
  background-color: #825d41;
}

.desktop-results_item-swatch .item-swatch_color.Yellow {
  background-color: #fed533;
}

.desktop-results_item-swatch .item-swatch_color.Pink {
  background-color: #f0738f;
}

.desktop-results_item-swatch .item-swatch_color.Orange {
  background-color: #f36b26;
}

.desktop-results_item-swatch .item-swatch_color.Purple {
  background-color: #8d429f;
}

.desktop-results_item-swatch .item-swatch_color.Orange {
  background-color: #f36b26;
}

.desktop-results_item-swatch .item-swatch_color.Blue {
  background-color: #1890c8;
}

.desktop-results_item-swatch .item-swatch_color.Red {
  background-color: #e8352b;
}

.desktop-results_item-swatch .item-swatch_color.Green {
  background-color: #7bbb3c;
}

.desktop-results_item-swatch .item-swatch_color.Colorized {
  background-image: linear-gradient(
    30deg,
    magenta,
    blue,
    aqua,
    limegreen,
    red,
    orange,
    yellow
  );
}

.desktop-results_item-swatch .item-swatch_color.Golden {
  background-image: linear-gradient(
    30deg,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
}

/* Size */

.desktop-results_items.Size {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-right: -6px;
}

.desktop-results_items.Size .desktop-results_size-btn {
  height: 36px;
  color: rgba(var(--color-foreground));
  text-align: center;
  border: 1px solid rgba(var(--color-button), 0.2);
  border-radius: 5px;
  margin: 3px 6px 3px 0;
  flex: 1 0 56px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: white;
  transition: border-color var(--duration-default) ease;
}

.desktop-results_items.Size .desktop-results_size-btn.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.desktop-results_items.Size .desktop-results_size-btn.active {
  border: 1px solid rgba(var(--color-button), 1);
}

.desktop-results_items.Size .desktop-results_size-btn:hover {
  border: 1px solid rgba(var(--color-button), 1);
}

.desktop-results_items.Size .desktop-results_size-label {
  display: block;
  padding: 0 0.5rem;
  font-weight: 400;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .desktop-filter {
    visibility: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 260px;
    height: auto;
    margin-left: -260px;
    transition: margin var(--duration-medium) ease 0ms,
      visibility 0ms ease var(--duration-medium);
    background-color: rgb(var(--color-background));
  }
  .desktop-filter.showing {
    visibility: visible;
    margin-left: 0;
    transition: margin var(--duration-medium) ease 0ms, visibility 0ms ease 0ms;
  }
}
