.about-header {
  width: 100%;
  height: 8rem;
  padding-top: 3rem;
  background-color: rgb(var(--color-background));
}

.about-header .headline-1 {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .about-header {
    height: 9.5rem;
    padding-top: 4rem;
  }
  .about-header .headline-1 {
    font-size: calc(var(--font-heading-scale) * 2.8rem);
  }
}
