/* Brand */
.collection-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: plum;
}

@media screen and (min-width: 990px) {
}
