.featured-blog_wrapper {
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .featured-blog_wrapper {
    padding-bottom: 3rem;
  }
}

.featured-blog_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin-bottom: 1.4rem;
}

.featured-blog_header .headline-2 {
  margin-top: 5px;
}

.featured-blog_header .link--text {
  margin-top: 4px;
  font-weight: 500;
}

.featured-blog_content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .featured-blog_content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
