.link-in-bio_wrapper {
  padding-top: 0rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .link-in-bio_wrapper {
    padding-bottom: 4rem;
  }
}

.link-in-bio_logo {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.link-in-bio_logo a {
  display: block;
  margin: 0;
  padding: 0;
}

.link-in-bio_logo a .logo-svg {
  background-color: rgba(var(--color-button));
}

.link-in-bio_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 3rem auto 3rem auto;
  max-width: 610px;
}

.link-in-bio_content a {
  margin-bottom: 2rem;
}
